<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105402864337-nd0pojifna4kmjbsqdl6c52949v5qdut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105402864337-nd0pojifna4kmjbsqdl6c52949v5qdut</string>
	<key>API_KEY</key>
	<string>AIzaSyBG6hZODP_jf9uftYGAFzfUI_Es--_qoug</string>
	<key>GCM_SENDER_ID</key>
	<string>105402864337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-238a6</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-238a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105402864337:ios:0f7b66479e32cf4107abf0</string>
</dict>
</plist>